@page "/map"
@using AmongUsRoulette.Models.MapInfos
@using AmongUsRoulette.Shared.MapInfo

@inject AmongUsRoulette.Shared.Utils.CurrentLanguage language
@inject HttpClient Http
@inject NavigationManager NavManager

@implements IDisposable



<div class="map-container">

    @if (mapaAtual != null)
    {
        <div class="centralizar">

            <h1>@mapaAtual.Name</h1>

        </div>

        <InfoComponent Infos="@mapaAtual.TheMap" />
        <InfoListComponent InfosList="@mapaAtual.VisualTasks" />
        <InfoComponent Infos="@mapaAtual.TheVents" />
        <InfoListComponent InfosList="@mapaAtual.Sabotage" />
        <InfoUtilitiesComponent InfosList="@mapaAtual.Utilities" />
    }

</div>



@code {

    public string mapName;
    private List<Map> Mapas;
    private Map mapaAtual;

    protected override async Task OnInitializedAsync()
    {  
        Mapas = new List<Map>();
        Mapas = await Http.GetFromJsonAsync<List<Map>>($"data/{language.name}/map_infos.json");
    
        GetQueryStringValues();
        CheckMapName();
        NavManager.LocationChanged += HandleLocationChanged;
    }

    //Verifca nome do mapa
    public void CheckMapName()
    {
        mapaAtual = Mapas.Find(m => m.Name == mapName);

        if (mapaAtual == null)
            mapaAtual = Mapas.Find(m => m.Name == "The Skeld");
    }

    //atualiza na mesma pagina a query string
    void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        GetQueryStringValues();
        CheckMapName();
        StateHasChanged();
    }

    //faz o get da query string, nesse caso o nome do mapa selecionado, e atribui para mapName
    void GetQueryStringValues()
    {
        AmongUsRoulette.Shared.Utils.NavigationManagerExtensions.TryGetQueryString<string>(NavManager, "Name", out mapName);
    }

    public void Dispose()
    {
        NavManager.LocationChanged -= HandleLocationChanged;
    }

}
